In [27]:
import os
import pandas as pd
import json
import requests
from pandas.io.json import json_normalize
from pprint import pprint
import sqlite3

# API keys
from config import api_key

In [30]:
# Save config information
year = 1992
url = f"https://api.open.fec.gov/v1/elections/?api_key={api_key}&sort=-total_receipts&sort_hide_null=false&office=president&election_full=true&sort_null_only=false&cycle={year}&sort_nulls_last=false&page=1"

# read data from the API 
response = requests.get(url).json()
# pprint(response)

# convert JSON to dataframe
candidate_finance = pd.json_normalize(response, "results")
# print(candidate_finance.shape)

for yr in range(year + 4, 2017, 4):
    url = f"https://api.open.fec.gov/v1/elections/?api_key={api_key}&sort=-total_receipts&sort_hide_null=false&office=president&election_full=true&sort_null_only=false&cycle={yr}&sort_nulls_last=false&page=1"
    response = requests.get(url).json()
    sub_df = pd.json_normalize(response, "results")
    candidate_finance.head(2)
#     print(f"{yr} {type(sub_df)}  ================================")
    candidate_finance = candidate_finance.append(sub_df, ignore_index=True)
    
# Format dataframe
candidate_finance = candidate_finance[['candidate_election_year', 'candidate_id', 'candidate_name', 'party_full', 'total_receipts', 'total_disbursements', 'cash_on_hand_end_period']]
candidate_finance.style.format({"total_receipts": '${0:,.2f}',
                                "total_disbursements": '${0:,.2f}',
                                "cash_on_hand_end_period": '${0:,.2f}',})

candidate_finance.dtypes

candidate_election_year      int64
candidate_id                object
candidate_name              object
party_full                  object
total_receipts             float64
total_disbursements        float64
cash_on_hand_end_period    float64
dtype: object

In [34]:
conn = sqlite3.connect('ETL_project.db')
c = conn.cursor()

c.execute("DROP TABLE IF EXISTS Finance")
c.execute('CREATE TABLE Finance (candidate_election_year number, candidate_id text, candidate_name text, party_full text, total_receipts number, total_disbursements number, cash_on_hand_end_period number)')
conn.commit()

candidate_finance.to_sql('Finance', conn, if_exists='replace', index = False)


c.execute("SELECT * FROM Finance WHERE candidate_election_year = 2012")

for row in c.fetchall():
    print (row)

(2012, 'P80003338', 'OBAMA, BARACK', 'DEMOCRATIC PARTY', 742601913.88, 757574968.34, 3299312.93)
(2012, 'P80003353', 'ROMNEY, MITT / RYAN, PAUL D. ', 'REPUBLICAN PARTY', 483642897.19, 483292209.77, 383275.27)
(2012, 'P80000748', 'PAUL, RON', 'REPUBLICAN PARTY', 41064074.11, 40495369.56, 1147671.75)
(2012, 'P60003654', 'GINGRICH, NEWT', 'REPUBLICAN PARTY', 24976120.46, 24900556.09, 75564.37)
(2012, 'P20002721', 'SANTORUM, RICHARD J.', 'REPUBLICAN PARTY', 23552730.52, 23426456.81, 126273.71)
(2012, 'P20003281', 'PERRY, JAMES R (RICK)', 'REPUBLICAN PARTY', 20593581.15, 20199068.69, 394512.46)
(2012, 'P00003608', 'CAIN, HERMAN', 'REPUBLICAN PARTY', 16917976.94, 16913859.48, 4117.46)
(2012, 'P20002184', 'HERMAN, RAPHAEL', 'DEMOCRATIC PARTY', 16414018.0, 16414018.0, 0.0)
(2012, 'P20003067', 'HUNTSMAN, JON', 'REPUBLICAN PARTY', 9173365.13, 9173365.13, 0.0)
(2012, 'P20002556', 'PAWLENTY, TIMOTHY', 'REPUBLICAN PARTY', 5965502.16, 5965502.16, 0.0)
(2012, 'P20002671', 'JOHNSON, GARY EARL', 'LIBERTARIAN PARTY', 2796591.1, 2752658.16, 43932.94)
(2012, 'P20003984', 'STEIN, JILL', 'GREEN PARTY', 1263540.87, 1122027.96, 141512.91)
(2012, 'P20002523', "ROEMER, CHARLES E. ''BUDDY'' III", 'OTHER', 780900.91, 739453.36, 41447.55)
(2012, 'P20002564', 'KARGER, FRED', 'REPUBLICAN PARTY', 588437.17, 591271.9, 0.0)
(2012, 'P20003109', 'MCCOTTER, THADDEUS G', 'REPUBLICAN PARTY', 550437.19, 549822.09, 615.1)
(2012, 'P20002424', 'TERRY, RANDALL A', 'INDEPENDENT', 509814.27, 502083.04, 7731.23)
(2012, 'P20002325', 'DAVIS, L JOHN JR', 'REPUBLICAN PARTY', 444348.88, 444348.17, 0.0)
(2012, 'P20004685', 'GOODE, VIRGIL H JR', 'CONSTITUTION PARTY', 202258.22, 202253.35, 4.87)
(2012, 'P20003885', 'HAYWOOD, JOHN DAVIS', 'DEMOCRATIC PARTY', 135395.91, 135395.29, 2181.68)
(2012, 'P80003114', 'BLYTH, JOHN DOUGLAS', 'INDEPENDENT', 109987.24, 123973.24, 0.0)

In [35]:
c.execute("SELECT * FROM Finance WHERE candidate_election_year = 2016")

for row in c.fetchall():
    print (row)

(2016, 'P00003392', 'CLINTON, HILLARY RODHAM / TIMOTHY MICHAEL KAINE', 'DEMOCRATIC PARTY', 585699061.27, 585580576.76, 323317.48)
(2016, 'P80001571', 'TRUMP, DONALD J. / MICHAEL R. PENCE ', 'REPUBLICAN PARTY', 350668435.7, 343056732.78, 7611702.92)
(2016, 'P60007168', 'SANDERS, BERNARD', 'DEMOCRATIC PARTY', 237640609.52, 232185441.62, 5455167.9)
(2016, 'P60006111', 'CRUZ, RAFAEL EDWARD "TED"', 'REPUBLICAN PARTY', 94338654.84, 94304803.32, 33851.52)
(2016, 'P60005915', 'CARSON, BENJAMIN S SR MD', 'REPUBLICAN PARTY', 65091035.97, 64530285.46, 560750.51)
(2016, 'P60006723', 'RUBIO, MARCO', 'REPUBLICAN PARTY', 48331861.99, 51557701.76, 112614.3)
(2016, 'P60008059', 'BUSH, JEB', 'REPUBLICAN PARTY', 35491191.48, 35435885.43, 55306.05)
(2016, 'P60003670', 'KASICH, JOHN R', 'REPUBLICAN PARTY', 19692691.23, 19534124.57, 158566.66)
(2016, 'P40003576', 'PAUL, RAND', 'REPUBLICAN PARTY', 12458992.11, 12452499.19, 6492.92)
(2016, 'P60007242', 'FIORINA, CARLY', 'REPUBLICAN PARTY', 12211897.41, 11412309.97, 799587.44)
(2016, 'P20002671', 'JOHNSON, GARY / WILLIAM "BILL" WELD', 'LIBERTARIAN PARTY', 12193984.08, 12463110.51, 6299.61)
(2016, 'P20003984', 'STEIN, JILL', 'GREEN PARTY', 11499548.55, 11513810.03, 127251.43)
(2016, 'P60006046', 'WALKER, SCOTT', 'REPUBLICAN PARTY', 9509870.81, 9438000.85, 71869.96)
(2016, 'P60008521', 'CHRISTIE, CHRISTOPHER J', 'REPUBLICAN PARTY', 8770288.76, 8742632.18, 27656.58)
(2016, 'P60016342', 'DE  LA  FUENTE, ROQUE ROCKY', 'DEMOCRATIC PARTY', 8075959.73, 8074913.65, 1046.08)
(2016, 'P60007671', "O'MALLEY, MARTIN JOSEPH", 'DEMOCRATIC PARTY', 6377550.42, 6285181.71, 92368.71)
(2016, 'P60007697', 'GRAHAM, LINDSEY O', 'REPUBLICAN PARTY', 6010010.2, 6010010.2, 0.0)
(2016, 'P80003478', 'HUCKABEE, MIKE', 'REPUBLICAN PARTY', 4335975.38, 4330417.8, 5557.58)
(2016, 'P20002721', 'SANTORUM, RICHARD J.', 'REPUBLICAN PARTY', 2296044.14, 2312075.09, 110242.76)
(2016, 'P60022654', 'MCMULLIN, EVAN / MINDY FINN', 'INDEPENDENT', 1644102.2, 1642165.87, 1936.33)

In [38]:
c.execute('''  
SELECT candidate_name, max(total_receipts) FROM Finance
          ''')

max_receipts = pd.DataFrame(c.fetchall(), columns=['candidate_name','total_receipts'])    
print (max_receipts)

  candidate_name  total_receipts
0  OBAMA, BARACK    7.786430e+08